<span>&nbsp;&nbsp;</span>  
<md-input-container style="width: 85%" class="mb-1">
  <input mdInput placeholder="Pencarian" type="text" [(ngModel)]="keyword">
</md-input-container>
<span>&nbsp;&nbsp;</span>
<button md-raised-button color="primary" (click)="searchDoctor()"><md-icon class="menu-caret">search</md-icon> Cari</button>
    
<md-card-actions class="position-margin-right">
    <span fxFlex></span>
    <button md-mini-fab [routerLink]="['/doctor/register',0]" color="primary" class="mr-1 position-text-right">
      <md-icon>add_circle</md-icon>
    </button>
</md-card-actions>

<ngx-datatable
  class="material"
  [rows]="results"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="total"
  [offset]="page"
  [limit]="PAGE_SIZE"
  (page)='onPage($event)'>
  
    <ngx-datatable-column name="Nama">  
        <ng-template let-row="row" ngx-datatable-cell-template>
          <md-list>
            <md-list-item>
              <img md-list-avatar src="{{showImages(row.images)}}" alt="{{row.firstName}} {{row.lastName}}">              
              <p md-line>
                <span>{{row.title}} {{row.firstName}} {{row.lastName}}</span>
            </p>
            </md-list-item>
          </md-list>
        </ng-template>     
    </ngx-datatable-column>

    <ngx-datatable-column name="Spesialis">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{displaySpecialist(row.medicalStaffSpecialists)}}</span>
        </ng-template>     
    </ngx-datatable-column>

    <ngx-datatable-column name="Telepon">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{row.primaryPhone}}</span>
        </ng-template>     
    </ngx-datatable-column>      

    <ngx-datatable-column name="" [width]="250">                 
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button md-raised-button md-button-sm class="mr-1" color="teal" type="submit" [routerLink]="['/doctor/schedule',row.id, hospitalId]">
          <md-icon class="menu-caret">create</md-icon> Atur Jadwal
        </button>         
        <button md-raised-button md-button-sm class="mr-1" color="warn" type="button" (click)="onAssignToHospital(row.id, hospitalId)">
          <md-icon class="menu-caret">delete_sweep</md-icon> Hapus Dari Klinik
        </button>    
      </ng-template>
    </ngx-datatable-column>
</ngx-datatable>