<h5 class="mt-0 mb-10">
    <span *ngIf="model.id > 0">Form Roles </span>
</h5>
<form>
    <div class="mb-1">
        <md-grid-list cols="2" style="min-height: 200px;margin-top: 10px" rowHeight="fit">
            <md-grid-tile *ngFor="let roles of rolesModel">   
            <div class="checkbox-container">
                <md-checkbox [(ngModel)]="roles.isChecked" [ngModelOptions]="{standalone: true}">{{roles.name}}</md-checkbox> 
            </div>                            
            </md-grid-tile>
        </md-grid-list>
    </div>      

    <div fxLayout="row" fxLayoutAlign="end center" class="mb-2">
        <button md-raised-button color="warn" class="mr-1" (click)="close()">Cancel</button>
        <button md-raised-button color="primary" (click)="save()">Save</button>
    </div>
    <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>      
</form>
