<md-toolbar color="white">
    <span>Daftar Menu</span>
    <span fxFlex></span>
    <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%">             
        <button md-mini-fab (click)="openRegisterDialog()" color="primary">
          <md-icon>add_circle</md-icon>
        </button>
    </div>
    
  </md-toolbar>
  <ngx-datatable
    class="material"
    [rows]="results"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="total"
    [offset]="page"
    [limit]="PAGE_SIZE"
    (page)='onPage($event)'>
    
      <ngx-datatable-column name="No." [width]="15">  
          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <strong>{{(page * PAGE_SIZE) + (rowIndex + 1)}}</strong>
          </ng-template>     
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Nama">  
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.displayName}}
          </ng-template>     
      </ngx-datatable-column>
      <ngx-datatable-column name="Menu Induk">  
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{displayParent(row.parentId)}}
          </ng-template>     
        </ngx-datatable-column>
      <ngx-datatable-column name="Link">  
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.link}}
          </ng-template>     
      </ngx-datatable-column>
      <ngx-datatable-column name="Icon" [width]="50">  
        <ng-template let-row="row" ngx-datatable-cell-template>
            <md-icon class="menu-caret">{{row.displayIcon}}</md-icon>
        </ng-template>     
      </ngx-datatable-column>
      <ngx-datatable-column name="Roles">  
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.roles}}
        </ng-template>     
      </ngx-datatable-column>
      <ngx-datatable-column name="" [width]="200">                 
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button md-raised-button md-button-sm class="mr-1" color="teal" type="button" (click)="openRegisterDialog(row)">
            <md-icon class="menu-caret">create</md-icon> Edit
          </button>         
          <button md-raised-button md-button-sm class="mr-1" color="warn" type="button" (click)="onDeleteMenu(row)">
            <md-icon class="menu-caret">archive</md-icon> Delete
          </button>             
        </ng-template>
      </ngx-datatable-column>
  
  </ngx-datatable>