<md-toolbar color="white">
  <span>Daftar Blogs Article </span>
  <span fxFlex></span>
  <button md-mini-fab [routerLink]="['/blogs/article/register', 0]" color="primary" class="mr-1">
    <md-icon>add_circle</md-icon>
  </button>
</md-toolbar>

 
<ngx-datatable
  class="material"
  [columnMode]="'force'"
  [rows]="results"
  [loadingIndicator]="loadingIndicator"  
  [columnMode]="force"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="total"
  [offset]="offset"
  [limit]="PAGE_SIZE"
  (page)='onPage($event)'>
   <ngx-datatable-column name="No." [width]="75">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
          <strong>{{numberOfpage + rowIndex + 1}}</strong>
        </ng-template>     
    </ngx-datatable-column>

   <ngx-datatable-column name="Judul">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row.title}}
        </ng-template>     
    </ngx-datatable-column>
   <ngx-datatable-column name="Ringkasan">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row.shortDescription}}
        </ng-template>     
    </ngx-datatable-column>
   <ngx-datatable-column name="Tanggal Dibuat" [width]="100" >  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{displayDate(row.createdDate)}}
        </ng-template>     
    </ngx-datatable-column>

   <ngx-datatable-column name="Action" [width]="250">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button md-raised-button md-button-sm class="mr-1" color="teal" type="submit" [routerLink]="['/blogs/article/register',row.id]"><md-icon class="menu-caret">create</md-icon> Edit</button> 
          <button *ngIf="row.status == 0" md-raised-button md-button-sm class="mr-1" color="primary" type="submit" (click)="publish(true, row.id)"><md-icon class="menu-caret">thumb_up</md-icon> Publish</button>         
          <button *ngIf="row.status == 1" md-raised-button md-button-sm class="mr-1" color="accent" type="submit" (click)="publish(false, row.id)"><md-icon class="menu-caret">thumb_down</md-icon> UnPublish</button>  
          <button md-raised-button md-button-sm class="mr-1" color="warn" type="submit" (click)="confirm(row.id)"><md-icon class="menu-caret">delete_sweep</md-icon> Hapus</button> 
                             
        </ng-template>     
    </ngx-datatable-column>
</ngx-datatable>