<md-toolbar color="white">
  <span>Daftar Kategori</span>
  <span fxFlex></span>
  <button md-mini-fab (click)="openRegisterDialog()" color="primary" class="mr-1">
    <md-icon>add_circle</md-icon>
  </button>
</md-toolbar>

<ngx-datatable
  class="material"
  [rows]="results"
  [columnMode]="'force'"
  [loadingIndicator]="loadingIndicator"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="total"
  [offset]="offset"
  [limit]="PAGE_SIZE"
  (page)='onPage($event)'>  
   <ngx-datatable-column name="No." [width]="100">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex"let-value="value" ngx-datatable-cell-template>
          <strong>{{numberOfpage + rowIndex + 1}}</strong>
        </ng-template>     
    </ngx-datatable-column>

   <ngx-datatable-column name="Nama Kategori" [width]="200">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row.name}}
        </ng-template>     
    </ngx-datatable-column>


   <ngx-datatable-column name="Action" [width]="400">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button md-raised-button md-button-sm color="teal" type="button" (click)="openRegisterDialog(row)"><md-icon class="menu-caret">create</md-icon> Edit</button>          
          <button *ngIf="row.isVisible" md-raised-button md-button-sm class="mr-1" color="warn" type="button" (click)="archiveCategory(row)"><md-icon class="menu-caret">archive</md-icon> Archive</button>    
          <button *ngIf="!row.isVisible" md-raised-button md-button-sm class="mr-1" color="primary" type="button" (click)="archiveCategory(row)"><md-icon class="menu-caret">unarchive</md-icon> UnArchive</button>                
        </ng-template>     
    </ngx-datatable-column>
</ngx-datatable>