<md-card>
  <md-card-title>{{ titleForm }}</md-card-title>
  <form [formGroup]="form" (submit)="submitDoctor()">
    <md-card-content>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-1">            
            <div fxFlex class="text-xs-center">
            <img [src]="doctorImage" class="radius-circle" [width]="150" [height]="150" >
            </div>            
        </div>
        <p class="mb-1" class="text-xs-center">            
            <button type="button" md-button class="mr-1" (click)="coverImage.click()" ><md-icon>camera_enhance</md-icon>  Unggah Gambar</button>
            <input #coverImage type="file" ng2FileSelect [hidden]="true" (change)="imageChange($event)"/>
        </p>    
        <div fxLayout="row"  fxLayoutAlign="start center" class="mb-1"> 
            <div class="ml-xs mr-xs" style="width: 10%;">
                <md-select placeholder="Pilih Gelar" [(ngModel)]="model.title"  (ngModelChange)="onDegreeChange($event)" formControlName="degreeMessage" style="width: 100%;">
                <md-option *ngFor="let item of degreeList" [value]="item.code">
                    {{ item.name }}
                </md-option>
                </md-select> 
                <small *ngIf="form.controls['degreeMessage'].hasError('required') && form.controls['degreeMessage'].touched" class="mat-text-warn ">Harus diisi.</small>   
            </div>
            <div class="ml-xs mr-xs" style="width: 100%;">
            <md-input-container style="width: 100%;">
                <input mdInput placeholder="Nama Depan" [(ngModel)]="model.firstName" formControlName="firstName">
            </md-input-container>
            <small *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched" class="mat-text-warn ml-xs mr-xs">Nama depan tidak boleh kosong.</small>
            </div>
            <div class="ml-xs mr-xs" style="width: 100%;">
            <md-input-container style="width: 100%;">
                <input mdInput placeholder="Nama Belakang" [(ngModel)]="model.lastName" formControlName="lastName">
            </md-input-container>            
            <small *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched" class="mat-text-warn ml-xs mr-xs">Nama belakang tidak boleh kosong.</small>                        
            </div>
        </div> 
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%;">
                    <input mdInput placeholder="No. SIP" [(ngModel)]="model.medicalStaffRegisteredNumber" formControlName="medicalStaffRegisteredNumber">
                </md-input-container>
                <small *ngIf="form.controls['medicalStaffRegisteredNumber'].hasError('required') && form.controls['medicalStaffRegisteredNumber'].touched" class="mat-text-warn">No SIP tidak boleh kosong.</small>                        
           </div>
           <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Email" [(ngModel)]="model.email" formControlName="email">
                </md-input-container>      
            </div>      
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Nomor Telepon" [(ngModel)]="model.primaryPhone" formControlName="primaryPhone">
                </md-input-container>
                <small *ngIf="form.controls['primaryPhone'].hasError('required') && form.controls['primaryPhone'].touched" class="mat-text-warn">No. Telp tidak boleh kosong.</small>
                <small *ngIf="form.controls['primaryPhone'].errors?.number && form.controls['primaryPhone'].touched" class="mat-text-warn">No. Telp tidak valid.</small>            
            </div>
            <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Nomor Telepon 2" [(ngModel)]="model.secondaryPhone" formControlName="secondaryPhone">
                </md-input-container>            
                <small *ngIf="form.controls['secondaryPhone'].errors?.number && form.controls['secondaryPhone'].touched" class="mat-text-warn">No. Telp tidak valid.</small>            
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%;">
                    <input mdInput placeholder="Alamat" [(ngModel)]="model.address" formControlName="address">
                </md-input-container> 
            </div>
            <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%">
                    <input mdInput placeholder="Kabupaten" [(ngModel)]="currentRegency"
                    [mdAutocomplete]="regencyAuto" formControlName="regency">
                </md-input-container>
                <small *ngIf="form.controls['regency'].hasError('required') && form.controls['regency'].touched" class="mat-text-warn">Kabupaten / kota tidak boleh kosong.</small>
            </div>
        </div>        
        <div class="mb-1">
            <h5>Spesialis</h5>
            <md-divider></md-divider>
            <md-grid-list cols="3" style="min-height: 180px;margin-top: 10px" rowHeight="fit">
                <md-grid-tile *ngFor="let specials of specialistView">   
                <div class="checkbox-container">
                    <md-checkbox [(ngModel)]="specials.isChecked" [ngModelOptions]="{standalone: true}">{{specials.alias}} ({{specials.name}})</md-checkbox> 
                </div>                            
                </md-grid-tile>
            </md-grid-list>
        </div>        

        <md-autocomplete #regencyAuto="mdAutocomplete" [displayWith]="displayFn">
        <md-option *ngFor="let item of regencys | async" [value]="item">
            <span>{{ item.name }}</span>
            <span> ({{item.region.name}}) </span>
        </md-option>
        </md-autocomplete>         
    </md-card-content>
     
    <md-card-actions>
      <div fxLayout="row" fxLayoutAlign="center center">        
        <button md-raised-button color="warn" type="button" (click)="backClicked()">Cancel</button>          
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
        <button md-raised-button color="primary" type="button"  (click)="saveContinue()" [disabled]="!form.valid">Save & Continue</button>
        
      </div>
    </md-card-actions> 
  </form>      
  <md-card-footer>
    <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>
  </md-card-footer>
</md-card>        