  <span>&nbsp;&nbsp;</span>  
  <md-input-container>
      <input mdInput [mdDatepicker]="startPicker" [(ngModel)]="sDate" (ngModelChange)="updateStartDate($event)" placeholder="Tanggal Mulai">
      <button mdSuffix [mdDatepickerToggle]="startPicker"></button>
  </md-input-container>
  <md-datepicker #startPicker [touchUi]="touch"></md-datepicker>
  <md-input-container>
      <input mdInput [mdDatepicker]="endPicker" [(ngModel)]="eDate" (ngModelChange)="updateEndDate($event)" placeholder="Tanggal Akhir">
      <button mdSuffix [mdDatepickerToggle]="endPicker"></button>
  </md-input-container>
  <md-datepicker #endPicker [touchUi]="touch"></md-datepicker>
  <span>&nbsp;&nbsp;</span>
  <button md-raised-button color="primary" type="button" (click)="searchAppointment()"><md-icon class="menu-caret">search</md-icon> Cari</button>

  
  <ngx-datatable
    class="material"
    [rows]="results"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="total"
    [offset]="offset"
    [limit]="PAGE_SIZE"
    (page)='onPage($event)'>
    
      <ngx-datatable-column name="No. Antrian" [width]="30">  
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <strong>{{row.queueNumber}}</strong>
        </ng-template>     
      </ngx-datatable-column>

      <ngx-datatable-column name="Nama Pasien">  
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{row.patientName}}</span>
          </ng-template>     
      </ngx-datatable-column>
  
      <ngx-datatable-column name="Appointment Date">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{settingDate(row.appointmentDate)}}</span>
          </ng-template>     
      </ngx-datatable-column>
  
     
      <ngx-datatable-column name="Status">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{getStatusappointment(row.appointmentStatus)}}</span>
        </ng-template>     
    </ngx-datatable-column>
  
      <ngx-datatable-column name="" [width]="100">                 
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button md-raised-button md-button-sm class="mr-1" [color]="colorStatus(row.appointmentStatus)" [disabled]="disabledStatus(row.appointmentStatus)" type="submit" (click)="openRegisterDialog(row)">
            <md-icon class="menu-caret">alarm_add</md-icon> {{nameStatus(row.appointmentStatus)}}
            
          </button>         
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>