md-toolbar {
     &.main-header {
         .branding {
             padding: 0 44px 0 16px;
             .logo {
                width: 120px;
                height: 25px;
                -webkit-background-size: 120px 25px;
                background-size: 120px 25px;
             }
         }
         .auto-search-hospital {
            //background-color: #FFFFFF;
            background: url('../../../assets/images/search.icon.png') no-repeat 0 0 #FFFFFF;
            height: 40px;
            margin-top: 10px;
            color: #2D2D2D;
            min-width: 600px;
            width: 500px;
            border-radius: 1.5%;
            background-position: 10px 8px;
            padding: 0px 40px;
            margin-left: 20px;
        }         
     }
     
}






