<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">

             <div class="card">
                <div class="card-header text-center">
                    <h3>Registrasi Pasien</h3>                    
                </div>                 
                 <div class="card-block">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name_dokter">Nama Dokter</label>
                                <input type="text" class="form-control input-lg" id="namaDokter" disabled="disabled" placeholder="Input Nama Dokter" [value]="getNameDoctor">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name_pasien">Nama Pasien</label>
                                <input type="text" class="form-control input-lg" id="namaBelakang" placeholder="Input Nama Pasien">
                            </div>
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name_telp">No. Telp</label>
                                <input type="text" class="form-control input-lg" id="noTelp" placeholder="Input Nomor Telepon">
                            </div>
                        </div>                        
                    </div>

                </div>

                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-dot-circle-o"></i> Simpan</button>
                </div>
                                
            </div>
        </div>
    </div>
</div>
