@import "../../../../assets/styles/scss/components/editor";
:host /deep/ {
  quill-editor {
    display: block;
  }

  .ql-container.ql-snow,
  .ql-toolbar.ql-snow {
    border: 1;
  }
  .ql-container{
    height: 250px;
  }
}