<md-card>
  <md-card-title>
      <span *ngIf="id == 0">Tambah Artikel</span>
      <span *ngIf="id != 0">Edit Artikel</span>
  </md-card-title>
  <form [formGroup]="form" (submit)="save()">
    <md-card-content>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%">
                    <input mdInput placeholder="Judul"  [(ngModel)]="article.title" formControlName="title">
                </md-input-container>
                <small *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched" class="mat-text-warn">Judul tidak boleh kosong.</small>
            </div>
        </div>      
            
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%">
                    <input mdInput placeholder="Kategori" [(ngModel)]="currentCategory"
                    [mdAutocomplete]="categoryAuto" formControlName="category">
                </md-input-container>
                <md-autocomplete #categoryAuto="mdAutocomplete" [displayWith]="displayFn">
                    <md-option *ngFor="let item of resultCategory" [value]="item">
                    <span>{{ item.name }}</span>                
                    </md-option>
                </md-autocomplete>    
              </div>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <div class="ml-xs mr-xs" style="width: 100%;">
                <md-input-container style="width: 100%">                
                <textarea mdInput maxLength="255" placeholder="Ringkasan"
                    rows="3" formControlName="shortDescription" #shortDescription 
                    [(ngModel)]="article.shortDescription"></textarea>
                    <md-hint align="end">{{shortDescription.characterCount}} / 255</md-hint>
                </md-input-container>    
            </div>
        </div>            
        <div class="mb-1">           
            <quill-editor [(ngModel)]="article.description" formControlName="description"></quill-editor>                     
        </div>        
        
    </md-card-content>
    <hr>
    <md-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button md-raised-button color="warn" type="button" (click)="cancel()">Cancel</button>
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Simpan</button>
        </div>
     
    </md-card-actions>    
  </form>  
  <md-card-footer>
    <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>
  </md-card-footer>    
</md-card>