<h5 class="mt-0 mb-10">
  <span *ngIf="category.id == 0">Register Kategori</span>
  <span *ngIf="category.id > 0">Edit Kategori</span>
</h5>
<form [formGroup]="form">   
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
        <div class="ml-xs mr-xs" style="width: 100%;">
            <md-input-container style="width: 100%">
                <input mdInput placeholder="Nama Kategori"  [(ngModel)]="category.name" formControlName="nameMessage">
            </md-input-container>                                                 
            <small *ngIf="form.controls['nameMessage'].hasError('required') && form.controls['nameMessage'].touched" class="mat-text-warn">Nama kategori harus diisi.</small>            
       </div>
    </div>    
    <div fxLayout="row" fxLayoutAlign="end center" class="mb-2">
        <button md-raised-button color="warn" class="mr-1" (click)="close()">Cancel</button>
        <button md-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Save</button>
    </div>
    <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>
</form>