@model ForgotPasswordViewModel
@{
	ViewData["Title"] = "Forgot password?";
	Layout = "_CredentialLayout";
}


<div class="wrap-login100">
	<section>
		<form asp-action="ForgotPassword" method="post" class="login100-form validate-form">
			<span class="login100-form-logo">
				<i class="zmdi zmdi-landscape"></i>
			</span>

			<span class="login100-form-title p-b-34 p-t-27">
				@ViewData["Title"]
			</span>
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="wrap-input100 validate-input" data-validate="Enter email">
				<input class="input100" placeholder="Enter your Email" asp-for="Email">
				<span class="focus-input100" data-placeholder="&#xf207;"></span>
			</div>
			
			<div class="container-login100-form-btn">
				<button type="submit" class="login100-form-btn">
					Submit
				</button>
			</div>

		</form>
	</section>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
