@{
    // set this so the layout rendering sees an anonymous user
    ViewData["Title"] = "Signed out";
    Layout = "_CredentialLayout";
}

<div class="wrap-login100">
    <section>
        <span class="login100-form-title p-b-34 p-t-25">
            @ViewData["Title"]
        </span>

        <span class="login100-form-title p-b-27" style="font-size:14px">
            You have successfully signed out.
        </span>
    </section>
</div>
