@{
	ViewData["Title"] = "Thanks For Registering!";
	Layout = "_CredentialLayout";
}

<div class="wrap-login100">
	<section style="text-align:center">
		<span class="login100-form-title p-b-34 p-t-25">
			@ViewData["Title"]
		</span>

		<span class="p-b-27" style="font-size:14px;color:#FFF;">
			You will receive confirmation email to active your account on SmartMedika.
		</span>
	</section>
</div>
