<h5 class="mt-0 mb-10">
  <span *ngIf="regency.id == 0">Register Kabupaten</span>
  <span *ngIf="regency.id > 0">Edit Kabupaten</span>
</h5>
<form [formGroup]="form">   
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
        <div class="ml-xs mr-xs" style="width: 100%;">
            <md-input-container style="width: 100%">
                <input mdInput placeholder="Nama Kabupaten"  [(ngModel)]="regency.name" formControlName="nameMessage">
            </md-input-container>
            <small *ngIf="form.controls['nameMessage'].hasError('required') && form.controls['nameMessage'].touched" class="mat-text-warn">Nama Kabupaten harus diisi.</small>                                                 
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
        <div class="ml-xs mr-xs" style="width: 100%;">        
            <md-input-container style="width: 100%">
                <input mdInput placeholder="Koordinat Logitude"  [(ngModel)]="regency.longitude" formControlName="longitudeMessage">
            </md-input-container>                                                 
            <small *ngIf="form.controls['longitudeMessage'].hasError('required') && form.controls['longitudeMessage'].touched" class="mat-text-warn">Longitude harus diisi.</small>   
        </div> 
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
        <div class="ml-xs mr-xs" style="width: 100%;">
            <md-input-container style="width: 100%">
                <input mdInput placeholder="Koordinat Latitude" [(ngModel)]="regency.latitude" formControlName="latitudeMessage">
            </md-input-container>                                                 
            <small *ngIf="form.controls['latitudeMessage'].hasError('required') && form.controls['latitudeMessage'].touched" class="mat-text-warn">Latitude harus diisi.</small>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
        <div class="ml-xs mr-xs" style="width: 100%;">        
            <md-select placeholder="Pilih Provinsi" style="width: 100%" [(ngModel)]="regency.regionId" (ngModelChange)="onRegionChange($event)" formControlName="regionMessage">
                <md-option *ngFor="let item of regions" [value]="item.id">
                {{ item.name }}
                </md-option>
            </md-select>    
            <small *ngIf="form.controls['regionMessage'].hasError('required') && form.controls['regionMessage'].touched" class="mat-text-warn">Provinsi tidak boleh kosong.</small>                                                   
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="mb-2">
        <button md-raised-button color="warn" class="mr-1" (click)="close()">Cancel</button>
        <button md-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Save</button>
    </div>
    <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>
</form>

