<!-- Themes Login + logo -->
<ion-content has-header white-background>
<ion-grid>
  <ion-row padding>
    <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Input field handphone-->
        <ion-item no-padding transparent>
          <ion-label floating>{{data.phone}}</ion-label>
          <ion-input required type="number" [(ngModel)]="phone"></ion-input>
        </ion-item>
        <!---Register button-->
        <button ion-button button-clear clear right (click)="onEvent('onLogin')">{{data.login}}</button>
    </ion-col>
    <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      <!--LOGO-->
      <img left [src]="data.logo">
      <!---Login with email button-->
      <button ion-button button-clear clear right (click)="onEvent('onLoginWithEmail')">{{data.loginwithemail}}</button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
