<md-card>
  <md-card-title>{{ titleForm }}</md-card-title>
    <md-card-content>
        <span>Estimasi Tindakan: 
            <md-input-container style="width:5%">
                <input mdInput
                        type="number"
                        placeholder=""
                        aria-label="hello"
                        min="0"
                        max="30"
                        [(ngModel)]="hospitalMedicalStaff.estimateTimeForPatient">
            </md-input-container>
            Menit            
        </span>

        <ngx-datatable                
            class="material"
            [rows]="hospitalMedicalStaff.operatingHours"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="'auto'">

        <ngx-datatable-column name="Hari">               
            <ng-template let-row="row" ngx-datatable-cell-template>{{getDayName(row.day)}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Jam Praktek">                
            <ng-template let-row="row"  ngx-datatable-cell-template>
            <span *ngIf="row.isClossed">Tutup</span>
            <span *ngIf="!row.isClossed">{{row.startTime}} - {{row.endTime}}</span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="">                 
            <ng-template let-row="row" ngx-datatable-cell-template>
            <button *ngIf="!row.isClossed" md-raised-button md-button-sm class="mr-1" color="teal" type="button" (click)="openOperatingHours(row.day, row.startTime, row.endTime)">
                <md-icon>schedule</md-icon> Ubah</button>     
            <button *ngIf="row.isClossed" md-raised-button md-button-sm class="mr-1" color="teal" type="button" (click)="openCloseClinic(row.day, false)">
                <md-icon class="menu-caret">alarm_add</md-icon> Buka</button>      
            <button *ngIf="!row.isClossed" md-raised-button md-button-sm class="mr-1" color="warn" type="button" (click)="openCloseClinic(row.day, true)">
                <md-icon class="menu-caret">alarm_off</md-icon> Tutup</button>                    
            </ng-template>
        </ngx-datatable-column>  
        </ngx-datatable>
    </md-card-content>  

    <md-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button md-raised-button color="warn" type="button" (click)="backClicked()">Cancel</button>
          <button md-raised-button  color="primary" type="button" (click)="saveOperatingHours()">Save</button>
        </div>
      </md-card-actions>
    <md-card-footer>
      <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>
    </md-card-footer>    
</md-card>  