<h5 class="mt-0 mb-10">
  <span *ngIf="country.id == 0">Register Negara</span>
  <span *ngIf="country.id > 0">Edit Negara</span>
</h5>
<form [formGroup]="form">   
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2"> 
        <div class="ml-xs mr-xs" style="width: 100%;">        
            <md-input-container style="width: 100%">
                <input mdInput placeholder="Nama Negara"  [(ngModel)]="country.name" formControlName="nameMessage">
            </md-input-container>                                                 
            <small *ngIf="form.controls['nameMessage'].hasError('required') && form.controls['nameMessage'].touched" class="mat-text-warn">Nama negara harus diisi.</small>            
       </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2"> 
        <div class="ml-xs mr-xs" style="width: 100%;">        
            <md-input-container style="width: 100%">
                    <input mdInput placeholder="Kode Negara"  [(ngModel)]="country.code" formControlName="codeMessage">
            </md-input-container>                                                 
            <small *ngIf="form.controls['codeMessage'].hasError('required') && form.controls['codeMessage'].touched" class="mat-text-warn">Kode negara harus diisi.</small>            
       </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" class="mb-2">
        <button md-raised-button color="warn" class="mr-1" (click)="close()">Cancel</button>
        <button md-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Save</button>
    </div>
    <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>
</form>