<h5 class="mt-0 mb-10">
  <span *ngIf="region.id == 0">Register Provinsi</span>
  <span *ngIf="region.id > 0">Edit Provinsi {{region.name}}</span>
</h5>
<form [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
      <div class="ml-xs mr-xs" style="width: 100%;">
        <md-input-container style="width: 100%">
                <input mdInput placeholder="Nama Provinsi"  [(ngModel)]="region.name" formControlName="nameMessage">
        </md-input-container>
        <small *ngIf="form.controls['nameMessage'].hasError('required') && form.controls['nameMessage'].touched" class="mat-text-warn">Provinsi harus diisi.</small>                                                             
      </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
      <div class="ml-xs mr-xs" style="width: 100%;">    
          <md-select placeholder="Pilih Negara" style="width: 100%" [(ngModel)]="region.countryId"  (ngModelChange)="onCountryChange($event)" formControlName="countryMessage">
            <md-option *ngFor="let item of countries" [value]="item.id">
              {{ item.name }}
            </md-option>
          </md-select>                                           
        <small *ngIf="form.controls['countryMessage'].hasError('required') && form.controls['countryMessage'].touched" class="mat-text-warn">Negara harus diisi.</small>        
       </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
      <div class="ml-xs mr-xs" style="width: 100%;">    
          <md-select placeholder="Pilih Waktu Bagian" style="width: 100%" [(ngModel)]="region.utcId"  formControlName="utcMessage">
            <md-option *ngFor="let item of utcs" [value]="item.id">
              {{ item.name }}
            </md-option>
          </md-select>                  
        <small *ngIf="form.controls['utcMessage'].hasError('required') && form.controls['utcMessage'].touched" class="mat-text-warn">Waktu bagian harus diisi.</small>                                 
       </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center" class="mb-2">
      <button md-raised-button color="warn" class="mr-1" (click)="close()">Cancel</button>
      <button md-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Save</button>
  </div>
  <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>
</form>