<h5 class="mt-0 mb-10">
    <span *ngIf="model.id == 0">Register Appointment</span>
    <span *ngIf="model.id > 0">Regiter Appointment {{model.title +' '+ model.firstName +' '+ model.lastName +' '+ displaySpecialist(model.medicalStaffSpecialists)}}</span>
</h5>
<form [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
        <div class="ml-xs mr-xs" style="width: 100%;">
            <md-input-container style="width: 100%">
                <input mdInput [mdDatepicker]="reschdulePicker" [(ngModel)]="aDate" placeholder="Date Appointment" formControlName="aDate">
                <button mdSuffix [mdDatepickerToggle]="reschdulePicker"></button>
            </md-input-container>
            <md-datepicker #reschdulePicker [touchUi]="touch"></md-datepicker>        
            <small *ngIf="form.controls['aDate'].hasError('required') && form.controls['aDate'].touched" class="mat-text-warn">Harus diisi.</small>                                               
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-1"> 
        <div class="ml-xs mr-xs" style="width: 100%;">        
            <md-input-container style="width: 100%">
                <textarea mdInput
                    mdTextareaAutosize
                    placeholder="Problem Patient"
                    [(ngModel)]="problemsPatients"
                    formControlName="problemsPatients"></textarea>
            </md-input-container>          
            <small *ngIf="form.controls['problemsPatients'].hasError('required') && form.controls['problemsPatients'].touched" class="mat-text-warn">Harus diisi.</small>
        </div>
    </div>    
    <div fxLayout="row" fxLayoutAlign="end center" class="mb-2">
            <button md-raised-button color="warn" class="mr-1" (click)="close()">Cancel</button>
            <button md-raised-button color="primary" [disabled]="!form.valid" (click)="saving()">Save</button>
    </div>
    <md-progress-bar *ngIf="onRequest" mode="indeterminate"></md-progress-bar>    
</form>    

