<md-toolbar color="white">
  <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%"> 
    <button md-mini-fab (click)="openRegisterDialog(null)" color="primary" class="mr-1">
      <md-icon>add_circle</md-icon>
    </button>
  </div>
</md-toolbar>
<ngx-datatable
  class="material"
  [rows]="result"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'">  
   <ngx-datatable-column name="No." [width]="50">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <strong>{{rowIndex + 1}}</strong>
        </ng-template>   
    </ngx-datatable-column>

   <ngx-datatable-column name="Gelar Spesialis">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row.name}}
        </ng-template>     
    </ngx-datatable-column>

   <ngx-datatable-column name="Keterangan" >  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row.alias}}
        </ng-template>     
    </ngx-datatable-column>

   <ngx-datatable-column name="Action" [width]="150">  
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span (click)="sort()">{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button md-raised-button md-button-sm class="mr-1" color="teal" type="submit" (click)="openRegisterDialog(row)"><md-icon class="menu-caret">create</md-icon> Edit</button>          
          <button md-raised-button md-button-sm class="mr-1" color="warn" type="submit" (click)="openDeleteDialog(row)"><md-icon class="menu-caret">delete_sweep</md-icon> Delete</button>                    
        </ng-template>     
    </ngx-datatable-column>
</ngx-datatable>